<article class="tease tease-{{post.post_type}}" id="tease-{{post.ID}}">
	{% block content %}

		<a href="{{ post.link }}"></a>

			<div class="background-image" {% if post.get_thumbnail %}style="background-image: url({{post.thumbnail.src}})"{% endif %}>

				<div class="overlay">

					<h3>{{ post.title }}</h3>

				</div>

			</div>

		<p>{{ post.preview }}</p>

	{% endblock %}
</article>
