{% extends "partial/core/tease.twig" %}

{% block content %}

	<a href="{{ post.link }}"></a>

	<div class="category category-color-{{ post.category.slug }}">

		<div class="background-image" {% if post.get_thumbnail %}style="background-image: url({{post.thumbnail.src}})"{% endif %}>

			<div class="overlay">

				<h3>{{ post.title }}</h3>

			</div>

		</div>

		<a href="{{ site.url }}/index.php?cat={{ post.category.id }}">

			<h3>{{ post.category.name }}</h3>

		</a>

	</div>

	<p>{{ post.prev.get_preview(25) }}</p>

{% endblock %}